# Dependencies and downloaded binaries
**/node_modules
**/.puppeteer-cache

#Python
**/server/python_scripts/venv
__pycache__/
*.pyc
*.pyo

# Environment variables
# Never commit your database passwords or API keys!
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS specific
.DS_Store